<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Freemium Hosting</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<div th:insert ="header.html :: head"></div>

  <section class="container" type="main" id="Деплой">
    <nav>
      <h1>Введите данные вашего проекта:</h1>
      <form method="POST" action="/api/createProject" th:object="${project}">
        <br>
        <label for="link">Название проекта:</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <br>
        <label for="link">Ссылка на git-репозиторий:</label>
        <input type="text" th:field="*{link}" id="link">
        <br>
        <br>
        <label for="language">Язык программирования:</label>
        <select  th:field="*{language}" id="language">
          <option selected="selected" value="">Выберите язык программирования</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="Groovy">Groovy</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Задеплоить проект">

      </form>
    </nav>
  </section>
<div th:insert ="footer.html :: foot"></div>
<script src="/js/dynamicHeader.js">

</script>
</body>
</html>
