server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      base-path: /management
      exposure:
        include: [ "configprops", "env", "health", "info", "threaddump", "logfile" ]
  endpoint:
    jhi-metrics:
      enabled: true
    health:
      probes:
        enabled: true
      show-details: always
      group:
        liveness.include: livenessState #,diskSpace
        readiness.include: readinessState,livenessState,db #,diskSpace
  info:
    git:
      mode: full
  health:
    probes:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    mail:
      enabled: false # When using the MailService, configure an SMTP server and set this to true


spring:
  h2:
    console:
      enabled: false #true
  mvc:
    static-path-pattern: /**
  datasource:
    url: ${DB_URL:jdbc:h2:file:./testdb}
    username: ${DB_USERNAME:user}
    password: ${DB_PASS:12345}
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false #true
    hibernate:
      ddl-auto: update

freemium:
  hosting:
    git-clone-path: ${GIT_CLONE_TEMP_PATH:./tmp/git-clone}
    default-builder-path:  ${GIT_CLONE_TEMP_PATH:./tmp/git-clone/Dockerfile}
    dockerfile:
      workdir: ${DOCKER_BUILD_WORKDIR:/usr/src/app/backend}
      imageParams:
        Java:
          builderImage: ${JAVA_BUILDER_IMAGE:maven:3.6.3-jdk-11} #TODO: change version
          buildCommand: ${JAVA_BUILD_COMMAND:mvn install -DskipTests=true}
          runnerImage: ${JAVA_RUN_IMAGE:openjdk:11.0.16-jre} #TODO: change to jre
        Python:
          runnerImage: ${PY_RUN_IMAGE:python:3.9}
          appName: ${PY_APP_NAME:app.py}
        Docker: {}
