html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #303335;
}

.container {
  margin: 100px auto;
  width: 720px;
  text-align: center;
}

.nav {
  height: 48px;
  display: inline-block;
}

h1{
  color: #b0d157;
  font-size: 18px;
}
label{
  color: #b0d157;
}

.nav > li, .nav:active > .active {
  float: left;
  position: relative;
  margin: 0 0 4px;
  height: 44px;
  color: #ccc;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #232428;
  border-bottom-color: #1f2326;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
}
.nav > li:hover {
  color: #b0d157;
  text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}
.nav > li.active,
.nav > .active:active,
.nav > li:active {
  z-index: 2;
  margin: 4px 0 0;
  height: 43px;
  color: #aaa;
  text-shadow: 0 1px black;
  background-color: rgba(255, 255, 255, 0.03);
  border-color: #212425;
  border-width: 1px 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
}
.nav > li:active {
  z-index: 3;
}
.nav > li:first-child {
  border-left-width: 1px !important;
  border-left-color: #212425;
  border-radius: 5px 0 0 5px;
}
.nav > li:last-child {
  border-right-width: 1px !important;
  border-right-color: #212425;
  border-radius: 0 5px 5px 0;
}
.nav > li + li, .nav:active > .active + li, .nav:active > li + .active {
  border-left-width: 0;
}

.nav > .active + li,
.nav > .active:active + li,
.nav > li:active + li,
.nav > li:active + .active {
  border-left-width: 1px;
}
.nav > li > a {
  display: block;
  line-height: 44px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  outline: 0;
}
.nav .nav-icon {
  padding: 0 15px;
}

[class*="icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 100px;
  text-shadow: none;
  color: transparent;
}

.icon-home {
  background-position: 0 0;
}

input{
  width: 400px;
}

/*body {*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-size: 18px;*/
/*  line-height: 20px;*/
/*  color: #212121;*/
/*}*/

/*!*h1 {*!*/
/*!*  font-size: 48px;*!*/
/*!*  font-weight: 500;*!*/
/*!*}*!*/

/*.text-center {*/
/*  text-align: center;*/
/*}*/

/*p {*/
/*  text-align: center;*/
/*}*/

/*.btn {*/
/*  font-family: 'Roboto Condensed', sans-serif;*/
/*  text-transform: uppercase;*/
/*  padding: 10px 0 11px;*/
/*  width: 128px;*/
/*  font-size: 16px;*/
/*  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);*/
/*}*/

/*.btn:hover {*/
/*  box-shadow: 0 1px 6px rgba(0,0,0,.4);*/
/*}*/

/*.btn:active {*/
/*  box-shadow: 0 5px 11px rgba(0,0,0,.4);*/
/*}*/

/*.btn:focus,*/
/*.btn:active {*/
/*  outline: 0 !important;*/
/*}*/

/*.btn-default:hover {*/
/*  background-color: #a6a6a6;*/
/*  background-color: rgba(158,158,158,0.9);*/
/*}*/

/*.btn-primary:hover {*/
/*  background-color: #5060bb;*/
/*  background-color: rgba(63,81,181,0.9);*/
/*}*/

/*.btn-success:hover {*/
/*  background-color: #95c75a;*/
/*  background-color: rgba(139,195,74,0.9);*/
/*}*/

/*.btn-info:hover {*/
/*  background-color: #1ab0f3;*/
/*  background-color: rgba(3,169,244,0.9);*/
/*}*/

/*.btn-warning:hover {*/
/*  background-color: #fda017;*/
/*  background-color: rgba(255,152,0,0.9);*/
/*}*/

/*.btn-danger:hover {*/
/*  background-color: #f35448;*/
/*  background-color: rgba(244,67,54,0.9);*/
/*}*/

/*.btn-default:active {*/
/*  background-color: #aeaeae;*/
/*  background-color: rgba(158,158,158,0.8);*/
/*}*/

/*.btn-primary:active {*/
/*  background-color: #6270c0;*/
/*  background-color: rgba(63,81,181,0.8);*/
/*}*/

/*.btn-success:active {*/
/*  background-color: #9fcc6b;*/
/*  background-color: rgba(139,195,74,0.8);*/
/*}*/

/*.btn-info:active {*/
/*  background-color: #32b7f3;*/
/*  background-color: rgba(3,169,244,0.8);*/
/*}*/

/*.btn-warning:active {*/
/*  background-color: #fca930;*/
/*  background-color: rgba(255,152,0,0.8);*/
/*}*/

/*.btn-danger:active {*/
/*  background-color: #f3655b;*/
/*  background-color: rgba(244,67,54,0.8);*/
/*}*/
