<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Freemium Hosting</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div th:insert="header.html :: head"></div>


<section class="container" type="main" id="Справка">
    <div class="about-cont">
        <h2>
            Возможности и ограничения платформы
        </h2>
        <br>
        <ol class="left">
            <li>
                На данный момент платформа поддерживает проекты на языках Java и Python, а так же приложения,
                упакованные в docker.
            </li>
            <li>
                Не гарантируется сохранность записанных файлов на диск - дисковое пространство эфимерно, запись файлов
                для постоянного хранения не рекомендуется.
            </li>
            <li>
                Предоставляемая ссылка на развёрнутое приложение имеет формат "http://freemium-hosting.ml:порт/".
            </li>
        </ol>
        <hr>
        <br>
        <h2>
            Требования к проекту для размещения
        </h2>
        <b>Общие требования</b>
        <br>
        <br>
        <ol class="left">
            <li>Исходный код должен быть размещён на публичном git-репозитории</li>
        </ol>
        <br>
        <b>Python</b>
        <ol class="left">
            <li>Корень проекта должен содержать файл <i>requirements.txt</i> для установки зависимостей</li>
            <li>Корень проекта должен содержать файл <i>app.py</i> - основной исполнямый файл (модуль __main__)</li>
        </ol>
        <br>
        <b>Java</b>
        <ol class="left">
            <li>Корень проекта должен являться корректным Maven-проектом (содержать <i>pom.xml</i>): другие системы
                сборки пока не поддерживаются
            </li>
        </ol>
        <hr>
        <br>
        <h2>
            Планы на дальнейшее развитие
        </h2>
        <br>
        <ol class="left">
            <li>
                Поддержка доменных имён для ссылки на проект.
            </li>
            <li>
                Поддержка большего колличества языков/систем сборки.
            </li>
            <li>
                Предоставление БД
            </li>
            <li>
                Раздельный деплой frontend и backend
            </li>
            <li>
                И многое другое...
            </li>
        </ol>
    </div>
</section>
<div th:insert="footer.html :: foot"></div>
<script src="/js/dynamicHeader.js">

</script>
</body>
</html>
