<!DOCTYPE html>
<head>
</head>
<body>
  <section class="container" id="header" th:fragment="head">
    <nav>
      <ul class="nav">
        <li><a href="Projects.html" class="nav-icon" title="Home"><span class="icon-home">Home</span></a></li>
<!--        <li><a href="/deploy" title="Задеплоить проект" id="Деплой">Деплой проекта</a></li>-->
        <li><a href="/profile" title="Профиль" id="Профиль">Профиль</a></li>
        <li><a href="/projects" title="Мои проекты" id="Проекты">Проекты</a></li>
        <li><a href="/about" title="О нас" id="Онас">О нас</a></li>
      </ul>
    </nav>
  </section>
</body>
</html>
