<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Freemium Hosting</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div th:insert ="header.html :: head"></div>

  <section class="container" type="main" id="Профиль">
    <nav>
      <h1>Это страница с профилем</h1>
    </nav>
  </section>
<div th:insert ="footer.html :: foot"></div>
<script src="/js/dynamicHeader.js">

</script>
</body>
</html>
