<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Freemium Hosting</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<div th:insert="header.html :: head"></div>

<section class="container" type="main" id="Проекты">
    <nav>
        <h1>Настройки вашего проекта:</h1>
        <form method="POST" action="/api/updateProject" th:object="${project}">
            <table class="settings">
                <tr>
                    <td><label for="status">Статус проекта:</label></td>
                    <td><h1 th:text="*{status}" id="status"></h1></td>
                </tr>
                <tr>
                    <td><label for="launch">Запустить/Приостановить деплой:</label></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" id="launch" onclick="handleClick(this)"
                                   th:checked="*{currentLaunch}">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="name">Название проекта:</label></td>
                    <td><input type="text" th:field="*{name}" id="name"></td>
                </tr>
                <tr>
                    <td><label for="link">Ссылка на git-репозиторий:</label></td>
                    <td><input type="text" th:field="*{link}" id="link"></td>
                </tr>
                <tr>
                    <td><label for="branch">Имя ветки:</label></td>
                    <td><input type="text" th:field="*{branch}" id="branch"></td>
                </tr>
                <tr>
                    <td><label for="language">Язык программирования:</label></td>
                    <td><select th:field="*{language}" id="language">
                        <option selected="selected" value="">Выберите язык программирования</option>
                        <option value="Java">Java</option>
                        <option value="Python">Python</option>
                        <option value="Groovy">Groovy</option>
                    </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="button" type="submit" value="Сохранить изменения"></td>
                </tr>
            </table>
            <input type="hidden" th:field="*{currentLaunch}" id="currentLaunch">
            <input type="hidden" th:field="*{lastLaunch}" id="lastLaunch">
            <input type="hidden" th:field="*{status}" id="status1">
            <input type="hidden" th:field="*{id}" id="id">

        </form>
    </nav>
</section>
<div th:insert="footer.html :: foot"></div>


<script src="/js/dynamicHeader.js"></script>
<script>
    function handleClick(checkbox) {
        if (checkbox.checked) {
            $('#currentLaunch').val("true");
        } else {
            $('#currentLaunch').val("false");
        }
    }
</script>
>
</body>
</html>
